<header>
    <div class="container">
        <a href="#" routerLink="" class="logo">
            <img src="../assets/curapatient.png"> 
            
        </a>
        <nav>
            <ul>
                <li>
                    <a *ngIf="!isloggedIn" href="#" routerLink="/login">Login</a>
                    <a *ngIf="!isloggedIn" href="#" routerLink="/register">Register</a>
                    <a *ngIf="isloggedIn" href="#" routerLink="/employee">Employee</a>
                    <a *ngIf="isloggedIn" href="#" (click)="logout()" >Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>